DATABASE_URL=
PORT=
NODE_ENV=
JWT_SECRET=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ACCESS_KEY=
CLOUDFLARE_ACCESS_SECRET_KEY=
CLOUDFLARE_BUCKET_NAME=
CLOUDFLARE_PUBLIC_BASE_URL=
NODEMAILER_HOST=
NODEMAILER_USER=
NODEMAILER_PASS=
NODEMAILER_PORT=
NODEMAILER_SECURE=
NODEMAILER_REQUIRE_TLS=
NODEMAILER_FROM=
EMAIL_CONFIRMATION_CODE_EXPIRES_IN_MINUTES=10
EMAIL_CONFIRMATION_RESEND_COOLDOWN_SECONDS=60
EMAIL_CONFIRMATION_MAX_ATTEMPTS=5
