DATABASE_URL=
PORT=
NODE_ENV=
JWT_SECRET=
CLOUDFLARE_R2_ACCOUNT_ID=
CLOUDFLARE_R2_BUCKET_NAME=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_ENDPOINT=
NODEMAILER_HOST=
NODEMAILER_USER=
NODEMAILER_PASS=
NODEMAILER_PORT=
NODEMAILER_SECURE=
NODEMAILER_REQUIRE_TLS=
NODEMAILER_FROM=
